{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="home-slider owl-carousel img" style="background-image: url({% static 'images/bg_1.jpg' %});">

    <div class="slider-item" style="background-image: url({% static 'images/bg_3.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
                        <span>Menu</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0"
                style="background-image: url({% static 'images/about.jpg' %});">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1"
                                role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>

                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                                aria-controls="v-pills-2" aria-selected="false">Burgers</a>

                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                                aria-controls="v-pills-3" aria-selected="false">Pasta</a>

                            <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                                aria-controls="v-pills-4" aria-selected="false">Drinks</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                aria-labelledby="v-pills-1-tab">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    {% if pizza %}
                                            {% for pizza in pizza %}
                                                {% if pizza.is_pub == True %}
                                                    <div class="pricing-entry d-flex ftco-animate">
                                                        <div class="img" style="background-image: url({{pizza.photo.url}});"></div>
                                                        <div class="desc pl-3">
                                                            <div class="d-flex text align-items-center">
                                                                <h3><span>{{pizza.numb}}. {{pizza.title}}</span></h3>
                                                                <span class="price"><a href="#" class="ml-2 btn btn-white btn-outline-white">${{pizza.price}}</a></span>
                                                            </div>
                                                            <div class="d-block">
                                                                <p>{{pizza.description}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    {% if burgers %}
                                        {% for burger in burgers %}
                                            {% if burger.is_pub == True %}
                                                <div class="pricing-entry d-flex ftco-animate">
                                                    <div class="img" style="background-image: url({{burger.photo.url}});"></div>
                                                    <div class="desc pl-3">
                                                        <div class="d-flex text align-items-center">
                                                            <h3><span>{{burger.numb}}. {{burger.title}}</span></h3>
                                                            <span class="price"><a href="#" class="ml-2 btn btn-white btn-outline-white">${{burger.price}}</a></span>
                                                        </div>
                                                        <div class="d-block">
                                                            <p>{{burger.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    {% if pasta %}
                                        {% for pasta in pasta %}
                                            {% if pasta.is_pub == True %}
                                                <div class="pricing-entry d-flex ftco-animate">
                                                    <div class="img" style="background-image: url({{pasta.photo.url}});"></div>
                                                    <div class="desc pl-3">
                                                        <div class="d-flex text align-items-center">
                                                            <h3><span>{{pasta.numb}}. {{pasta.title}}</span></h3>
                                                            <span class="price"><a href="#" class="ml-2 btn btn-white btn-outline-white">${{pasta.price}}</a></span>
                                                        </div>
                                                        <div class="d-block">
                                                            <p>{{pasta.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                             {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                                <div class="row">
                                    <div class="col-md-6"></div>
                                    {% if drinks %}
                                        {% for drink in drinks %}
                                            {% if drink.is_pub == True %}
                                                <div class="pricing-entry d-flex ftco-animate">
                                                    <div class="img" style="background-image: url({{drink.photo.url}});"></div>
                                                    <div class="desc pl-3">
                                                        <div class="d-flex text align-items-center">
                                                            <h3><span>{{drink.numb}}. {{drink.title}}</span></h3>
                                                            <span class="price"><a href="#"
                                                                    class="ml-2 btn btn-white btn-outline-white">${{drink.price}}</a></span>
                                                        </div>
                                                        <div class="d-block">
                                                            <p>{{drink.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}